<h1>Please create an account.</h1>
<%= form_for @user do |f|  %>

  <%= f.label :username %>
  <%= f.text_field :username %> <br/>
  
  <%= f.label :email %>
  <%= f.text_field :email%> <br/>
  
  <%= f.label :password %>
  <%= f.password_field :password %> <br/>
  
  <button type="submit">Create Account</button>
<% end %>

<%= link_to 'Back', users_path %>
