<h3>Title: <%= @picture.title %></h3>
<div class="image">
  <%= image_tag @picture.image_url, :width => "100%", :height => "100%" %>
</div> 
<p>Tags: <% @picture.tags.each do |tag| %>
  <%= tag.name %><br>
<% end %></p>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :picture_id, value: @picture.id %>
  <%= f.hidden_field :user_id, value: session[:user_id] %>
  
  <%= f.label :comment %>
  <%= f.text_field :content %><br>
  
  <button type="submit">Post Comment</button>
<% end %>

Comments: <br>
<% @picture.comments.each do |comment| %>
  <%= link_to comment.user.username, user_path(comment.user) %> said:
  <%= comment.content %><br>
<% end %><br>

<%= link_to "Edit Picture", edit_picture_path %>
<%= link_to "Delete Picture", @picture, method: :delete, data: { confirm: "Are you sure you want to delete this picture?" } %>