<!DOCTYPE html>
<html>
  <head>
    <title>SocialMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='wrapper'>
      
      <% if logged_in? %>
        <div id="header">
          <h1>Welcome back, <%= current_user.username %>!</h1>
          <%= link_to "Log out", '/logout', method: 'delete' %>
        </div>
      <% else %>
        <%= link_to "Please sign up", new_user_path %>
        <%= link_to "Please sign in", '/login' %>
      <% end %>
      <%= yield %>
    </div><!-- end of wrapper -->
  </body>
</html>
